<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>Coaching Staff</h4></div>

  <!-- Table -->
  <table class="table table-hover">
  	<thead>
      <tr>
      	<th></th>
        <th>Name</th>
        <th>City</th>
        <th>Nationality</th>
        <th>Job Description</th>
      </tr>
    </thead>
  	<% @coaches.each do |c| %>
  		<tr>
  			<td><%= image_tag(c.image, size:"60x60", class:"img-circle")%></td>
    		<td><strong><%= c.name %></strong></td>
    		<td><%= c.city %></td>
    		<td><%= c.nationality %></td>
    		<td>Job Description</td>
  		</tr>
    <% end %>
  </table>
</div>

 